/* Fonts */
.brand__font {
  color: #007bff;
  font-family: 'Montserrat', sans-serif;
  font-size: 140%;
}

.text_font {
  font-family: 'Ubuntu', sans-serif;
  line-height: 2;
  font-weight: bold;
  text-align: center;
}

.bigger-size-font {
  font-size: 18px;
  font-weight: normal;
}

.buy-font {
  font-size: 15px;
  font-weight: normal;
}

.lh {
  line-height: 1.5;
}

.text_font_buy {
  font-family: 'Ubuntu', sans-serif;
  line-height: 1.5;
  font-weight: bold;
  text-align: left;
}

/* Container */
.container-fluid {
  padding: 0;
  margin: 0;
}

.contnal, .imgal, .buttonal,
.testimon, .footer-pad {
  text-align: center;
  vertical-align: middle;
}

.contnal, .imgal, .buttonal {
  padding: 5% 0;
  margin: 0;
}

.testimon {
  padding: 5% 5%;
  margin: 0;
}

.partners {
  width: 15%;
  margin: 10% 2% 5% 2%;
  padding: 1%;
}

.footer-pad {
  padding: 1% 0;
  margin: 0;
}

/* Buttons */
.xl {
  padding: 1rem 3rem;
  font-size: 1.5rem;
  line-height: 2;
  border-radius: 0.5rem;
  margin: 1rem;
}

.up-btn {
  opacity: 0.8;
  float: right;
}

.up-btn:hover {
  opacity: 1;
}

.dbtnl {
  text-align: left;
  padding-left: 0;
}

.ml {
  padding: 1rem 2rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: 0.4rem;
  margin: 0.5rem;
}

.srch {
  margin: 0 auto;
}

/* Img / icon */
.social-icn {
  opacity: 0.9;
}

.social-icn:hover {
  opacity: 1;
}

.icon {
  color: #343a40;
}

.icon:hover {
  color: #000;
}

/* Carousel*/
.carosimage {
  width: 60%;
}

.service-margin {
  margin: 300px 0 0 0;
}

.text-carousel-caption {
  font-family: 'Montserrat', sans-serif;
  font-size: 120%;
}

.carousel-item-pad {
  padding: 5% 5%;
}

.carousel-indicators-pad {
  padding-top: 7%;
}

/*Frames*/
.privacy-frame {
  padding: 5px;
  padding-left: 1rem;
  margin: 1rem 3rem;
  width: 80%;
  height: 500px;
}

/*Radio button*/
.custom-control-input-custom:checked {
  color: #fff;
  border-color: #fff;
  background-color: #fff;
}

/*Contact forms*/
.contact-hr {
  width: 80%;
}

/* Card */
.card-img-resp {
  width: 70%;
}
