.brand__font {
  color: #007bff;
  font-family: 'Montserrat', sans-serif;
  font-size: 140%;
}

.text_font {
  font-family: 'Ubuntu', sans-serif;
  line-height: 2;
  font-weight: bold;
  text-align: center;
}

.container-fluid {
  padding: 0;
  margin: 0;
}

.bigger-size-font {
  font-size: 18px;
  font-weight: normal;
}

.contnal {
  text-align: center;
  vertical-align: middle;
  padding: 5% 0;
  margin: 0;
}

.imgnal {
  text-align: center;
  vertical-align: middle;
  padding: 5% 0;
  margin: 0;
}

.buttonal {
  text-align: center;
  vertical-align: middle;
  padding: 5% 0;
  margin: 0;
}

.xl {
  padding: 1rem 3rem;
  font-size: 1.5rem;
  line-height: 2;
  border-radius: 0.5rem;
  margin: 1rem;
}

.up-btn {
  opacity: 0.8;
  float: right;
}

.up-btn:hover {
  opacity: 1;
}

.social-icn {
  opacity: 0.9;
}

.social-icn:hover {
  opacity: 1;
}

.lh {
  line-height: 1.5;
}

.icon {
  color: #343a40;
}

.icon:hover {
  color: #000;
}

.dbtnl {
  text-align: left;
  padding-left: 0;
}

.srch {
  margin: 0 auto;
}

.testimon {
  text-align: center;
  vertical-align: middle;
  padding: 5% 5%;
  margin: 0;
}

.partners {
  width: 15%;
  margin: 10% 2% 5% 2%;
  padding: 1%;
}

.carosimage {
  width: 60%;
}

.service-margin {
  margin: 300px 0 0 0;
}

.text-carousel-caption {
  font-family: 'Montserrat', sans-serif;
  font-size: 120%;
}

.carousel-item-pad {
  padding: 5% 5%;
}

.carousel-indicators-pad {
  padding-top: 7%;
}

.footer-pad {
  text-align: center;
  vertical-align: middle;
  padding: 1% 0;
  margin: 0;
}
